{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}Add task{% endblock %}

{% block extra_head %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
$(function () {
    {% comment %} hack needed so .send gets triggered even if there are no files {% endcomment %}
    window.allFiles = new Object();
    window.allFiles[-1] = '';
    fileIdLast = -1;
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $("#submitBtn").prop('disabled', false);
            result = data.result;
            if (result.success) {
                $(location).attr('href', "{% url 'webservice.views.course.read' course.id %}");
            } else {                
                $.each(result.errors, function(i, val) {
                    id = val[0];
                    error = val[1][0];                    

                    $("#id_" + id).parent().parent().addClass("error");
                    $("#id_" + id).parent().append('<span class="help-inline error">' + error + '</span>');
                });
            }            
        },
        error: function(e, data) {
            $("#submitBtn").prop('disabled', false);
            alert("error happened");
        },
        add: function (e, data) {
            $.each(data.files, function (index, file) {
                fileIdLast++;
                window.allFiles[fileIdLast] = file;
                var id = fileIdLast;
                var newFileDiv = '<tr id="tr'+ id +'">';
                newFileDiv    += '<input type="hidden" value="' + file.name + '" name="form-' + id + 'taskFile"/>';
                newFileDiv    += '<td>' + file.name + '<span id="removeFile' + id + '" class="btn btn-link btn-mini removeFile"> <i class="icon-remove-circle"/></span> </td>';            
                newFileDiv    += '<td><select name="form-' + id + 'fileFormat">';
                {% for courseFileFormat in course.fileFormats.all %}
                newFileDiv    += '<option value={{courseFileFormat.fileFormat.id}}>{{courseFileFormat.fileFormat.name}} </option>';
                {% endfor %}
                newFileDiv    += '<option value=-1>Unspecified</option>';
                newFileDiv    += '</select></td>';
                newFileDiv    += '<td><input type="checkbox" name="form-' + id + 'isTestFile"/></td>';
                newFileDiv    += '</tr>';
                
                $("#taskFiles").append(newFileDiv);

                $("#removeFile"+id).on("click", function() {
                    delete window.allFiles[id];
                    $("#tr"+id).remove();
                });

                $(".table").show();
            });
        }
    });

    $("#taskForm").submit(function(e) {
        $("#submitBtn").prop('disabled', true);
        $("span.error").remove();
        $(".error").removeClass("error");
        var filesArray = [];
        $.each(window.allFiles, function(key, value) {
            console.log(key, value)
            var index = filesArray.push(value) - 1;
            $('input[name=form-' + key + 'taskFile]').attr('name', 'form-' + index + 'taskFile');
            $('input[name=form-' + key + 'isTestFile]').attr('name', 'form-' + index + 'isTestFile');
            $('select[name=form-' + key + 'fileFormat]').attr('name', 'form-' + index + 'fileFormat');
        });
        $("#fileupload").fileupload('send', {files:filesArray});
        event.preventDefault();
    });
});
</script>

{% endblock %}

{% block content %}

<h3>Add task</h3>
<form class="form" id="taskForm" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form|as_bootstrap }}
    
    <hr/>
    <h4>Files</h4>
    <span class="btn btn-success fileinput-button">
        <span>{% trans 'Add files' %}...</span>
        <input type="file" id="fileupload" name="files[]" data-url="{% url 'webservice.views.task.create' courseSession.id %}" multiple>
    </span>
    <table class="table" hidden>
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'File type' %}</th>
                <th>{% trans 'Test file?' %}</th>
            </tr>
        </thead>
        <tbody id="taskFiles">
        </tbody>
    </table>

    <hr/>
    <input type="submit" id="submitBtn" class="text btn btn-primary" />

</form>
{% endblock %}
