{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{{task.name}}{% endblock %}


{% block extra_head %}
{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static "js/vendor/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
$(function () {
    window.allFiles = new Object();
    fileIdLast = -1;
    $("#submitBtn").prop('disabled', true);

    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $("#submitBtn").prop('disabled', false);
            $("#loaderGif").hide();
            result = data.result;
            if (result.success) {
                $("#resultDiv").show();

                $('tr[class*=result]').remove();
                if (result.result.success) {
                    cls = 'success';
                } else {
                    cls = 'error';
                }
                //$('#resultDiv').attr('class', cls);
                $.each(result.result.testResults, function(i, testResult) {
                    if (testResult.success) {
                        cls = 'success';
                    } else {
                        cls = 'error';
                    }
                    var resultTr = '<tr class="result ' + cls + '">';
                    resultTr    += '<td>' + (i + 1) + '</td>';
                    resultTr    += '<td>' + testResult.msg + '</td>';
                    resultTr    += '<td>' + testResult.success + '</td>';
                    resultTr    += '</tr>';
                    
                    $("#results").append(resultTr);
                });
            } else {
                $.each(result.errors, function(i, val) {
                    id = val[0];
                    error = val[1][0];                    

                    $("#id_" + id).parent().parent().addClass("error");
                    $("#id_" + id).parent().append('<span class="help-inline error">' + error + '</span>');
                });
            }            
        },
        error: function(e, data) {
            $("#submitBtn").prop('disabled', false);
            $("#loaderGif").hide();
            //alert("error happened");
        },
        add: function (e, data) {
            $.each(data.files, function (index, file) {
                fileIdLast++;
                window.allFiles[fileIdLast] = file;
                var id = fileIdLast;
                var newFileTr = '<tr id="tr'+ id +'">';
                newFileTr    += '<input type="hidden" value="' + file.name + '" name="form-' + id + 'answerFile"/>';
                newFileTr    += '<td>' + file.name + '<span id="removeFile' + id + '" class="btn btn-link btn-mini removeFile"> <i class="icon-remove-circle"/></span> </td>';            
                newFileTr    += '</tr>';
                
                $("#answerFiles").append(newFileTr);

                $("#removeFile"+id).on("click", function() {
                    delete window.allFiles[id];
                    $("#tr"+id).remove();

                    if ($.isEmptyObject(window.allFiles)) {
                        $("#submitBtn").prop('disabled', true);
                    }
                });

                $("#fileTable").show();
            });
            if (!$.isEmptyObject(window.allFiles)) {
                $("#submitBtn").prop('disabled', false);
            }
        }
    });

    $("#answerForm").submit(function(e) {
        var filesArray = [];
        $.each(window.allFiles, function(key, value) {
            console.log(key, value)
            var index = filesArray.push(value) - 1;
            $('input[name=form-' + key + 'answerFile]').attr('name', 'form-' + index + 'answerFile');
        });
        if (filesArray.length > 0) {
            $("#submitBtn").prop('disabled', true);
            $("#loaderGif").show();
            $("#fileupload").fileupload('send', {files:filesArray});
        }
        event.preventDefault();
    });
});
</script>

{% endblock %}
{% block content %}
<div class="well">
    <h3>{{task.name}}</h3>
    <p>{{task.description}}</p>
</div
>
{% if taskFiles %}
    <h4>{% trans 'Files' %}:</h4>
    <ul>
    {% for taskFile in taskFiles %}
        <li>
        <a href="{% url 'webservice.views.task.fileDownload' task.id taskFile.filename %}">{{taskFile.filename}} 
            {% if isTeacher %}
                {% if taskFile.fileType %}
                    ({{taskFile.get_fileType_display}}) 
                {% endif %}
                {% if not taskFile.public %}
                    ({% trans 'Hidden' %})
                {% endif %}
            {% endif %}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if enrolled %}
<h3>{% trans 'Submit answer' %}</h3>

<form class="form" id="answerForm" enctype="multipart/form-data">

    {% csrf_token %}
    <hr/>
    <span class="btn btn-success fileinput-button">
        <span>{% trans 'Add files' %}...</span>
        <input type="file" id="fileupload" name="files[]" data-url="{% url 'webservice.views.task.submitAnswer' task.id %}" multiple>
    </span>
    <table class="table" id="fileTable" hidden>
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
            </tr>
        </thead>
        <tbody id="answerFiles">
        </tbody>
    </table>

    <hr/>
    <input value="{% trans 'Check' %}" type="submit" id="submitBtn" class="btn btn-primary" />
    <img id="loaderGif" hidden src="{% static "gif/ajax-loader.gif" %}"/>
</form>

<div id="resultDiv" hidden>
    <hr/>
    <h4>{% trans 'Results' %}</h4>
    <table class="table" id="resultTable">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Message' %}</th>
                <th>{% trans 'Success' %}</th>
            </tr>
        </thead>
        <tbody id="results">
        </tbody>
    </table>
</div> {% comment %} if not enrolled {% endcomment %}
{% elif user.is_authenticated  %}
<div class="alert">{% trans 'You must be enrolled in this course to submit solutions.' %}</div>
{% else %} 
<div class="alert">{% trans 'You must be logged in to submit solutions.' %}</div>
{% endif %}
{% endblock %}
