{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Courses' %}{% endblock %}

{% block content %}

<div class="well">
    <h3>{% trans 'Courses' %}</h3>
</div>

<div class="row">
{% for course in courses %}
    <div class="span10">
        <h4>{{ course.name }}</h4>
        <p>{{ course.description }}</p>
        <a class="btn" href="{% url 'webservice.views.course.read' course.id %}">{% trans 'More' %}&raquo;</a>
    </div>
{% endfor %}
</div>
</br>
{% comment %} TODO: instead check if user has permission to add courses --> {% endcomment %}
{% if user.is_superuser %}
<a class="btn btn-success" href="{% url 'webservice.views.course.create' %}">{% trans 'Add course' %}</a>
{% endif %}
{% endblock %}
