{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{{course.name}}{% endblock %}

{% block content %}

<div class="well">
    <h3>{{course.shortName}} - {{course.name}}</h3>
    <p>{{course.description}}</p>
</div>

<h4>{% trans 'Tasks' %}:</h4>
<hr/>

{% if isTeacher %}
<a class="btn btn-success" href="{% url 'webservice.views.task.create' currentCourseSession.id %}">{% trans 'Add task' %}</a>
{% endif %}

<table class="table tasks">
    <thead>
        <tr>
            <td>#</td>
            <td>{% trans 'Name' %}</td>
    </thead>
    <tbody>
{% for task in tasks %}
    <tr {% if task.success %} class="success" {% elif task.attempt %} class="warning" {% endif %}>
        <td>{{forloop.counter}}</td>
        <td>
            <a href="{% url 'webservice.views.task.read' task.id%}"> {{task.name}}{% if isTeacher and not task.public %}({% trans 'Hidden' %}){% endif %}</a>
            {% if isTeacher %}                
                    <a class="btn btn-danger pull-right" href="{% url 'webservice.views.task.delete' task.id%}">{% trans 'Delete' %}</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
