{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{{course.name}}{% endblock %}

{% block content %}

<div class="well">
    <h3>{{course.shortName}} - {{course.name}}</h3>
    <p>{{course.description}}</p>
</div>

<h4>{% trans 'Tasks' %}:</h4>
<hr/>

{% if isTeacher %}
<a class="btn btn-success" href="{% url 'webservice.views.task.create' currentCourseSession.id %}">{% trans 'Add task' %}</a>
{% endif %}

<div class="row">
{% for task in tasks %}
    {% if task.public or isTeacher %}
        <div class="span12">
            <h4>{{forloop.counter}}. {{task.name}}{% if isTeacher and not task.public %}({% trans 'Hidden' %}){% endif %}</h4>
            <p>{{task.description}}</p>

            <div class="row">
                <div class="span1">
                    <a class="btn" href="{% url 'webservice.views.task.read' task.id%}">{% trans 'More' %}&raquo;</a>
                </div>
            {% if isTeacher %}
                <div class="span1">
                    <a class="btn btn-danger" href="{% url 'webservice.views.task.delete' task.id%}">{% trans 'Delete' %}</a>
                </div>
            {% endif %}
            </div>

        </div>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
