<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load staticfiles %}
<html>

<head>
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
<style type="text/css">
    body {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<title>{% block title %}Automatic grading{% endblock %}</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
{% bootstrap_javascript_tag %}
{% block extra_head %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Grader</a>
                <ul class="nav">
                {% for menu in shared.menu %}
                    <li>
                        <a href='{{menu.view}}'>{{ menu.name }}</a>
                    </li>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li>
                    <a href='{% url 'webservice.views.auth.logout' %}?next={{request.path}}'>Logout[{{user.username}}]</a>
                    </li>
                {% else %}
                    <li>
                    <a href='{% url 'django.contrib.auth.views.login' %}?next={{request.path}}'>Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="messages">
            {% bootstrap_messages %}
        </div>
        <div class="row">
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header"><a href="{% url 'webservice.views.course.index' %}">Courses</a></li>
                    {% for c in shared.courses %}
                        <li {% if c.id == course.id %} class="active" {% endif %}>
                        <a href="{% url 'webservice.views.course.read' c.id %}">{{c.shortName}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span10">
                <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
